
<form action="/profile" method="post">
    Name: <input type="text" name="name" value="<%= user.name || '' %>"><br>
    <button class="btn waves-effect waves-light blue accent-2" type="submit" name="action">Update Details</button>
</form>