<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <%- include('components/stylesheet'); -%>
    </head>
    <body>
        <%- include('components/nav'); -%>
        <header>
            <h1>Title</h1>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>Example</p>
        </main>
        <%- include('components/javascript'); -%>
    </body>
</html>
